/* 
Global code style
*/

code {
	line-height: 1;
	padding: 1em;
	overflow-x: auto;
	overflow-y: hidden;
	display: inline-block;
	background: #000000;
	border-radius: 1px;
	font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
	font-size: 0.8em;
}

html, body, h1, h2, h3, h4, h5, input, textarea, header select {
	font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
	font-size: 14px;
	word-wrap: break-word;
	background: #222;
	color: #c8c8c8;
}

h1 code, h2 code {
	font-size: 12pt;
}

b {
	background: #765898;
	color: #52d053;
	padding: 2px 1ch;
	border-radius: 3px;
}

a, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

a:hover {
	background-color: rgb(180, 180, 180); color: #000;
}

body {
	line-height: 2em;
	margin: 0 auto;
	padding: 10px;
	padding-top: 0;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: justify;
}

img {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 4px;
	max-width: 98%;
	height: auto;
}

img.centre {
	display: block;
	margin: 0 auto;
}

ul.b {
	list-style-type: square;
}

/* 
Overrides
*/

h1 {
	display: flex;
	align-items: center;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

h2 {
	display: flex;
	align-items: center;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}

h2::after {
	flex: 1;
	height: 1px;
	content: '';
	margin-left: 1rem;
	background-color: #ddd;
}

h3 {
	text-align: left;
}

nav {
	font-size: 0.95em;
	margin-top: 1px;
}

nav .bar {
	color: #606060;
	vertical-align: bottom;
	padding-left: 1px;
	padding-right: 1px;
}

nav h2 {
	color: #000000;
	font-size: 1.3em;
	font-weight: bold;
	display: inline;
}

nav a {
	font-weight: bold;
	text-decoration: none;
}

nav a,
nav a:visited {
	color: #495f3d;
}

nav h2 a,
nav h2 a:visited {
	color: #495f3d;;
}

.link {
	text-decoration: none;
}

a:link {
	color: #609447;
}

hr {
	border: 0;
	height: 1px;
	border-top: 1px solid #ddd;
}

/*
Page styles
*/

/*log */
pre code {
	max-width: 100%;
	tab-size: 8;
	border: 1px solid #999;
	display: block;
	padding: 2px;
	font: 13px fixed, monospace;
	background: #333;
}

/*rest */

div#div-header {
	color: #c8c8c8;
	font-size: 30px;
	margin-top: 20px;
}

#div-header .header-links {
	color: #c8c8c8;
	background: #222;
}

div#div-header h2 {
	display: flex;
	align-items: center;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
	font-size: 20px;
}

div#div-top {
	margin: 0px auto;
	position: relative;
	padding: 0 5px;
	width: 600px;
}

div#div-logo {
	color: #c8c8c8;
	height: 80px;
	white-space: pre;
	text-align: center;
	font: 45px fixed, "Lucida Console";
}

div#nav-menu {
	text-align: center;
	font-family: monospace, sans-serif;
}

#nav-menu .menu-links {
	color: #c8c8c8;
	background: #222;
}

div#div-footer {
	text-align: left;
	color: #ddd;
}

#div-footer .footer-lins {
	color: #c8c8c8;
	background: #222;
}

div#log {
	width: 100%;
	display: table;
	height: 80%;
	text-align: center;
}

div#studio {
	height: 30%;
	text-align: center;
	font: 15px fixed, monospace;
}

div#hw {
	height: 115px;
	text-align: center;
	font: 7px fixed, monospace;
}

div#work {
	height: 80%;
	white-space: pre;
	text-align: center;
	font: 5px fixed, monospace;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
  }